{% load static %}
<!DOCTYPE html>
<html>
<head> <title>Тесты</title>
<style>
        table {width:600px;
               border: 1px solid green;
               margin:auto;}
        img {width: 600px;
              heigh:100px;}


      </style>

</head>
<body>
<div class="fon">
<h1 style="color: green">///////////////////////////////////////////////////////////Лучшие тесты по информатике//////////////////////////////////////////////////////////</h1>
<table>
<tr>	<td>Название теста</td>
	<td>Количество вопросов</td>
	<td><a href="test">Пройти тест</a></td></tr>
<tr>	<td>Системы счисления</td>
	<td>5</td>
	<td></td></tr>








</table>
<img src="{% static 'img/kotik1.jpg' %}" alt="photo">
<img src="{% static 'img/рабсистемы.jpg' %}" alt="photo"
  style="margin-left: 750px; margin-top: 500px; margin">
</body>
</html>